@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

a:hover {
    border-bottom: 1px solid white;
}

p {
    text-align: justify;
}

section {
    height: 100vh;
}

footer {
    height: 70vh;
    background: rgb(0, 37, 46);
    color: white;
}


#home {
    background-image: url("../images/bg-hero-desktop.svg");
}

.circular-button {
    border-radius: 20px;
    width: 170px;
    height: 30px;
    text-transform: none
}


#logo {
    margin-left: 3%;
}

#logo img{
    width: 200px;
    height: 35px;
}

#tryit-button button {
    height: 40px;
    color: black;
    font-weight: bold;
}

#footer-logo img{
    width: 200px;
    height: 30px;
}

.top {
    height: 15vh;
}

.home-text h2 {
    font-weight: 500;
    font-size: 50px;
}

.home-text p {
    font-weight: 400;
}

.content {
    display: flex;
}

.content-text h2 {
    font-weight: bold;
}

.content-text p {
    font-size: 18px;
    color: rgb(140, 147, 153)
}

.getStarted-button {
    width: 280px;
    height: 50px;
    font-weight: bold;
}

.content-image {
    margin-right: 3%;
}

.content-image img {
    height: 75vh;
}

#float-menu {
    position: relative;
    border-radius: 7px;
    background: white;
    width: 50%;
    height: 200px;
    top: 90px;
    box-shadow: 0px 0px 10px 1px black;
}

#float-menu h5 {
    font-weight: bold;
    color: rgb(0, 37, 46);
}

#footer-logo img {
    fill: white;
}

footer .content{
    margin-top: 100px;
}

#contact{
    font-weight: 300;
}

#contact i{
    margin-right: 15px;
}

.contact-item {
    margin: 20px 0;
}

.contact-item p{
    width: 80%;
}

.options ul li {
    margin: 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}